@CHARSET "UTF-8";
body {
	background: #FFFFFF repeat fixed 100% 100%;
	font-family: "ＭＳ Ｐゴシック",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #4F4F4F;
}

/* etc */
a:link, a:visited {
	/*font-weight: bold;*/
	color: #000077;
	text-decoration: none;
}
a:hover, a:active {
	/*font-weight: bold;*/
	color: #0000CB;
	text-decoration: underline;
}
#page_header {
	/*background-color: #DCDCDC;*/
	background-color: #F5F5F5;
	height: 30px;
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
#page_content {
	width: 100%;
	margin: 0px;
	padding: 10px 0;
	border-bottom: 1px solid #CCCCCC;
}
#footer {
	height: 30px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}
#page_header a:link, #page_header a:visited {
	color: #606060;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}
#page_header a:hover, #page_header a:active {
	color: #000000;
	font-weight: bold;
	font-size: 15px;
	text-decoration: underline;
}
a.appeal:link, a.appeal:visited {
	height: 200px;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
}
a.appeal:hover, a.appeal:active {
	height: 200px;
	font-weight: bold;
	font-size: 24px;
	text-decoration: underline;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}
#page_title {
	margin: 0;
	padding-top: 30px;
	padding-bottom: 10px;
	color: #DC143C;
	font-weight: bold;
	font-size: 42px;
}
#sub_title {
	margin: 0;
	padding-bottom: 30px;
	color: #FFA500;
	font-weight: bold;
	font-size: 20px;
}
.confirm {
	color: #FFA500;
	font-weight: bold;
	font-size: 20px;
}
.attention {
	padding: 5px;
	border: 1px dotted #CCCCCC;
	background-color: #FFFFF0;
	font-weight: normal;
	font-size: 16px;
	font-style: italic;
}
.form_label {
	line-height: 28px;
	vertical-align: middle;
	font-weight: bold;
	height: 40px;
}
.form_label_br {
	line-height: 14px;
	font-weight: bold;
	height: 40px;
}
.form_sublabel {
	font-weight: bold;
}
.form_input_large input {
	font-size: 16px;
	height: 30px;
}
.form_input_stretch input, .form_input_stretch textarea {
	width: 100%;
}
.form_button input {
	font-weight: bold;
	font-size: 15px;
}
.tab_button {
	color: #000077;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	/*text-decoration: underline;*/
	background-color: #F8F8FF;
	border: 1px solid #E6E6FA;
}
.tab_button_disabled {
	color: #333333;
	font-weight: bold;
	text-align: center;
}