<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="its.me.baby.mapper.UserMapper">
	
	<resultMap id="user" type="its.me.baby.dto.User">
		<id property="id" column="ID"/>
		<result property="email" column="EMAIL"/>
		<result property="cryptoPassword" column="CRYPTO_PASSWORD"/>
		<result property="name" column="NAME"/>
		<result property="profile" column="PROFILE"/>
	</resultMap>
	
	<select id="newId" resultType="int">
		SELECT SEQ_USER.NEXTVAL
	</select>

	<select id="getUserById" parameterType="Integer" resultMap="user">
		SELECT
			ID,
			EMAIL,
			NAME,
			PROFILE
		FROM
			USER_MASTER
		WHERE
			ID = #{id}
	</select>

	<select id="getUserByEmailAndCryptoPassword" parameterType="map" resultMap="user">
		SELECT
			ID,
			EMAIL,
			NAME,
			PROFILE
		FROM
			USER_MASTER
		WHERE
			EMAIL = #{email} AND CRYPTO_PASSWORD = #{cryptoPassword}
	</select>

	<select id="countUserByEmail" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			USER_MASTER
		WHERE
			EMAIL = #{email}
		<if test="omittedId != null">
			AND ID <![CDATA[ <> ]]> #{omittedId}
		</if>
	</select>

	<select id="list" resultMap="user">
		SELECT
			ID,
			EMAIL,
			NAME,
			PROFILE
		FROM
			USER_MASTER
	</select>

	<insert id="saveUser" parameterType="its.me.baby.dto.User">
		INSERT INTO USER_MASTER
		(
			ID,
			EMAIL,
			CRYPTO_PASSWORD,
			NAME,
			PROFILE
		)
		VALUES
		(
			#{id},
			#{email},
			#{cryptoPassword},
			#{name},
			#{profile}
		)
	</insert>

	<update id="updateAccount" parameterType="map">
		UPDATE USER_MASTER
			SET
				EMAIL = #{email},
				NAME = #{name}
			WHERE
				ID = #{id}
	</update>

	<update id="updatePassword" parameterType="map">
		UPDATE USER_MASTER
			SET
				CRYPTO_PASSWORD = #{cryptoPassword}
			WHERE
				ID = #{id}
	</update>

	<update id="updateProfile" parameterType="map">
		UPDATE USER_MASTER
			SET
				PROFILE = #{profile}
			WHERE
				ID = #{id}
	</update>

	<delete id="delete" parameterType="Integer">
		DELETE FROM 
			USER_MASTER
		WHERE 
			ID = #{id}
	</delete>
</mapper>