<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="its.me.baby.mapper.UserProfileMapper">

	<resultMap id="userProfile" type="its.me.baby.dto.UserProfile">
		<id property="userId" column="USER_ID"/>
		<result property="name" column="NAME"/>
		<result property="nameFontColor" column="NAME_FONT_COLOR"/>
		<result property="nameFontSize" column="NAME_FONT_SIZE"/>
		<result property="title" column="TITLE"/>
		<result property="titleFontColor" column="TITLE_FONT_COLOR"/>
		<result property="titleFontSize" column="TITLE_FONT_SIZE"/>
		<result property="content" column="CONTENT"/>
		<result property="contentFontColor" column="CONTENT_FONT_COLOR"/>
		<result property="contentFontSize" column="CONTENT_FONT_SIZE"/>
		<result property="profileBoxColor" column="PROFILE_BOX_COLOR"/>
		<result property="profileBoxOpacity" column="PROFILE_BOX_OPACITY"/>
		<result property="profileBoxPosition" column="PROFILE_BOX_POSITION"/>
		<result property="bgImgUrl" column="BG_IMG_URL"/>
		<result property="bgImgLayout" column="BG_IMG_LAYOUT"/>
	</resultMap>

	<select id="getUserProfileById" parameterType="Integer" resultMap="userProfile">
		SELECT
			USER_ID,
			NAME,
			NAME_FONT_COLOR,
			NAME_FONT_SIZE,
			TITLE,
			TITLE_FONT_COLOR,
			TITLE_FONT_SIZE,
			CONTENT,
			CONTENT_FONT_COLOR,
			CONTENT_FONT_SIZE,
			PROFILE_BOX_COLOR,
			PROFILE_BOX_OPACITY,
			PROFILE_BOX_POSITION,
			BG_IMG_URL,
			BG_IMG_LAYOUT
		FROM
			USER_PROFILE
		WHERE
			USER_ID = #{userId}
	</select>

	<insert id="createUserProfile" parameterType="its.me.baby.dto.UserProfile">
		INSERT INTO USER_PROFILE
		(
			USER_ID,
			NAME,
			NAME_FONT_COLOR,
			NAME_FONT_SIZE,
			TITLE,
			TITLE_FONT_COLOR,
			TITLE_FONT_SIZE,
			CONTENT,
			CONTENT_FONT_COLOR,
			CONTENT_FONT_SIZE,
			PROFILE_BOX_COLOR,
			PROFILE_BOX_OPACITY,
			PROFILE_BOX_POSITION,
			BG_IMG_URL,
			BG_IMG_LAYOUT
		)
		VALUES
		(
			#{userId},
			#{name},
			#{nameFontColor},
			#{nameFontSize},
			#{title},
			#{titleFontColor},
			#{titleFontSize},
			#{content},
			#{contentFontColor},
			#{contentFontSize},
			#{profileBoxColor},
			#{profileBoxOpacity},
			#{profileBoxPosition},
			#{bgImgUrl},
			#{bgImgLayout}
		)
	</insert>

	<update id="updateUserProfile" parameterType="its.me.baby.dto.UserProfile">
		UPDATE USER_PROFILE
			SET
				NAME = #{name},
				NAME_FONT_COLOR = #{nameFontColor},
				NAME_FONT_SIZE = #{nameFontSize},
				TITLE = #{title},
				TITLE_FONT_COLOR = #{titleFontColor},
				TITLE_FONT_SIZE = #{titleFontSize},
				CONTENT = #{content},
				CONTENT_FONT_COLOR = #{contentFontColor},
				CONTENT_FONT_SIZE = #{contentFontSize},
				PROFILE_BOX_COLOR = #{profileBoxColor},
				PROFILE_BOX_OPACITY = #{profileBoxOpacity},
				PROFILE_BOX_POSITION = #{profileBoxPosition},
				BG_IMG_URL = #{bgImgUrl},
				BG_IMG_LAYOUT = #{bgImgLayout}
			WHERE
				USER_ID = #{userId}
	</update>

	<delete id="deleteProfile" parameterType="Integer">
		DELETE FROM 
			USER_PROFILE
		WHERE 
			USER_ID = #{userId}
	</delete>
</mapper>